@using EQNWebsiteUI.Models
@{
    WidgetModel widget = null;
    
    if(ViewData["Widget"] != null)
    {
        widget = (WidgetModel)ViewData["Widget"];
    }
}

@if (widget != null)
{
<li class="jdWidget-wrapper" data-col="@widget.positionX" data-row="@widget.positionY" data-sizex="@widget.columnX" data-sizey="@widget.columnY">
    <div class="jdWidget-titlebar-handle"></div>
    <div class="jdWidget-content">
        @RenderBody()
    </div>
</li>
}