<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title </title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")

        @Styles.Render("~/Content/css")
    </head>
    <body>
        <header>
            @Html.Partial("_Header")
        </header>

        <div class="root-content">
            @RenderBody()
        </div>

        <footer>
            @Html.Partial("_Footer")
        </footer>
        
        @Scripts.Render("~/bundles/jquery-custom")
        @RenderSection("scripts", required: false)
    </body>
</html>
